<h3>Displaying the results for Sprint <%= @selected_sprint.sprint_number %></h3>
<table>
    <tr>
      <th>Scrum Date</th>
      <th>Scrum User</th>
      <th colspan="2"></th>
    </tr>
<% @all_scrums.each do |daily_scrum| %>
  <tr>
    <td><%=daily_scrum.scrum_date%></td>
    <td><%=daily_scrum.scrum_user%></td>
    <td><%=link_to 'Show', daily_scrum_path(daily_scrum) %></td>
    <% if daily_scrum.scrum_user == current_user.email%>
      <td><%=link_to 'Edit', edit_daily_scrum_path(daily_scrum) %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= link_to "Export to CSV", search_all_scrums_by_sprint_path(@selected_sprint.sprint_number, format: "csv") %>
