<h3>Displaying the results for Sprint <%= @selected_sprint.sprint_number %></h3>
<%= link_to "Export to CSV", search_all_scrums_by_sprint_path(@selected_sprint.id, format: "csv") %><%@date_headers.each do |header| %>
  <h3><%=header.scrum_date%></h3>
  <table>
  <% @all_scrums.each do |daily_scrum| %>
    <% if daily_scrum.scrum_date == header.scrum_date%>
      <tr>
        <td><%# daily_scrum.scrum_date%></td>
        <td><%=daily_scrum.scrum_user%></td>
        <td class="scrum_show"><%=link_to 'Show', daily_scrum_path(daily_scrum) %></td>
        <% if daily_scrum.scrum_user == current_user.email%>
          <td class="scrum_edit"><%=link_to 'Edit', edit_daily_scrum_path(daily_scrum) %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
<%end%>
