<p>
  <strong>User:</strong>
  <%= @daily_scrum.scrum_user %>
</p>
<p>
  <strong>Scrum Date:</strong>
  <%= @daily_scrum.scrum_date %>
</p>
<p>
  <strong>Scrum Sprint:</strong>
  <%= @daily_scrum.scrum_sprint %>
</p>
  <strong>Yesterday:</strong>
  <%= @daily_scrum.scrum_yesterday %>
</p>
</p>
  <strong>Today:</strong>
  <%= @daily_scrum.scrum_today %>
</p>
</p>
  <strong>Blockers:</strong>
  <%= @daily_scrum.scrum_blockers %>
</p>
